@font-face {
    font-family: ReemKufi;
    src: url(./fonts/ReemKufi.ttf);
}

:root {
    --breakLine: 1px solid #808080;
    --gradient: linear-gradient(-45deg, #D000F7, #24BAE3);
    --box-shadow: 5px 5px 15px #808080, -5px -5px 15px #808080;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: ReemKufi;
    background-color: #000000;
    color: #e0e0e0;
    margin: auto;
}

.container {
    content: center;
    max-width: 90%;
    margin: auto;
}

.myInfo h1 {
    cursor: default;
    font-size: 3em;
}

.gradientText {
    display: inline-flex;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.job::before {
    content: attr(data-job1);
    overflow: hidden;
    width: 280px;
    display: inline-flex;
    animation: effectText 1s linear infinite alternate,
        changeText 4s linear infinite;
}

@keyframes effectText {
    from {
        max-width: 0;
    }

    to {
        max-width: 280px;
    }
}

@keyframes changeText {
    0% {
        content: attr(data-job1);
    }

    100% {
        content: attr(data-job2);
    }
}

.title {
    color: #24BAE3;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    border-bottom: var(--breakLine);
}

.listSkill {
    max-width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.listProject {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 25px;
}

.listProject .item {
    text-align: center;
    font-size: 20px;
}

.listProject .item img {
    width: 95%;
    border-radius: 1em;
}

.listProject .item img:hover {
    box-shadow: var(--box-shadow);
}

.contact {
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact li {
    margin: 5px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

@media screen and (max-width: 767px) {

    .listProject {
        grid-template-columns: 1fr;
    }
}