html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #e0e0e0;
    margin: auto;
}

.container {
    content: center;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    list-style: none;
    padding: 20px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1em;
}

@media screen and (max-width: 767px) {

    .listProject {
        grid-template-columns: 1fr;
    }
}